
table {
            border-collapse: collapse;
            border: 1;
            width:100%;
            text-align: center;
            } 
thead {
    background-color: grey;
}
th, td {
            border: 1px solid black;
            }
li {
  border-bottom: 1px solid blue;
}
.band {
    font-weight: bold;
    color: blue;
}
p.band {
    border: 1px dashed blue;
}
#image {
    background: url(images/Swan.jpg) no-repeat fixed top;
    background-size: 400px,300px;  
}
ul {
    font-style: italic;
}