
table.album {
            border-collapse: collapse;
            border: 1;
            width:100%;
            text-align: center;
            } 
thead {
    background-color: grey;
}
th, td {
            border: 1px solid black;
            }
li {
  border-bottom: 1px solid blue;
}
.band {
    font-weight: bold;
    color: blue;
}
p.band {
    border: 1px dashed blue;
}

ul {
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: grey;
}
td {
    font-style: italic
}