
table {
            border-collapse: collapse;
            border: 1;
            width:100%;
            text-align: center;
            } 
thead {
    background-color: grey;
}
th, td {
            border: 1px solid black;
            }
li {
  border-bottom: 1px solid black;
}
.band {
    font-weight: bold;
    color: blue;
}
p.band {
    border: 1px dashed blue;
}
