h1 {
    text-align: center;
    font-family: cursive;
} 
footer {
     text-align: center;
}
#header {
    border: 1px solid black;
}
   label {
       font-weight: bold;
   }
 a {
     font-weight: normal;
     text-decoration: underline
 } 
   a:link {
       color: blue
   }
   a:visited {
    color: red
   }
a:hover {
    font-weight: bold
}
a:active {
    text-decoration: none;
}
th {
    font-size: larger;
    font-weight: bold;
}